<%- include('partials/header', {"title": "Login Page"}) %>
<%- include('partials/Navbar', {"className": "login"}) %>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h3 class="alert text-center text-light mt-5" style="background-color: purple; ">Login Page</h3>

      <form method="post">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          <div class="text-danger"><%= emailError %></div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="password" required>
          <div class="text-danger"><%= error %></div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<%- include('partials/footer') %>